body {
  font-family: "Sans-serif", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1, h2 {
  color: #008080;
}

button {
  background-color: #87CEEB;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #008080;
}

.hero {
  text-align: center;
  padding: 50px;
  background-color: #D3D3D3;
}
